html {
    box-sizing: border-box;
    height: 100%;
}
body {
    background-image: url('images/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: artifica;
}
img {
    margin: 10px auto;
    width: 200px;
    height: auto;
}
ul {
    list-style: none;
    padding: 0;
}
@font-face {
    font-family: artifica;
    src: url(Artifika-Regular.ttf);
}
@keyframes move-right {
    from {left: -1000px}
    to {left: 130px}
}

@keyframes move-right-header {
    from {left: -1000px}
    to {left: 0px}
}

@keyframes move-left {
    from {right: -3000px}
    to {right: 0px}
}
@keyframes move-top {
    from {top: -1000px}
    to {top: 0px}
}
.center {
    text-align: center;
}
.guess {
    box-shadow: 0px 0px 30px rgba(122, 216, 118, 0.9), 0px 0px 10px rgb(0,0,0);
    background-color: rgb(255, 255, 255);
    display: inline;
    border: solid black 1px ;
    border-radius: 5px;
    font-size: 60px;
    padding: 0 25px;
}
#app{
    font-family: artifica;
    box-shadow: 0px 0px 500px #b8ebff;
    /* border: 1px white solid; */
    border-radius: 3%;
    background: rgba(122, 209, 231, 0.8);
    margin: 40px auto;
}

#headers {
    text-shadow:
    2px 2px 10px #000,
    -1px -1px 0 rgba(99, 214, 109, 0.658),  
    1px -1px 0 rgba(99, 214, 109, 0.658),
    -1px 1px 0 rgba(99, 214, 109, 0.658),
    1px 1px 0 rgba(99, 214, 109, 0.658);
}
#title {
    position: relative;
    animation: move-right-header 2s;
    animation-timing-function: ease;
    border-color: rgb(255, 210, 127);
    color: rgb(255, 255, 255);
    /* text-shadow: 2px 2px 10px black; */
}
#subtitle {
    position: relative;
    animation: move-left 2s;
    animation-timing-function: ease;
    border-color: rgb(255, 210, 127);
    font-size: 25px;
    color: white;
    /* text-shadow: 2px 2px 10px black;  */
}
#main {
    margin: 50px auto;
}
#input-parent {
    position: relative;
    display: inline;
    margin: 0 auto;
    animation: move-top 2s;
    animation-timing-function: ease-in-out;
}
#player-input{
    box-shadow: 0px 0px 50px rgba(122, 216, 118, 0.9), 0px 0px 40px rgb(0,0,0);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    font-size: 60px;
}
#submit{
    box-shadow: 2px 2px 5px black;
    position: absolute;
    top: 100%;
    right: 0px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#guesses {
    position: relative;
    animation: move-top 2s;
    animation-timing-function: ease;

    margin: 50px auto 10px;
}
#reset {
    position: relative;
    animation: move-top 2s;
    animation-timing-function: ease-in-out;

    box-shadow: 2px 2px 10px black;
    margin: 20px 20px 0px 0px;
}
#hint {
    position: relative;
    animation: move-top 2s;
    animation-timing-function: linear;

    box-shadow: 2px 2px 10px black;
    margin: 20px 0px 0px 20px;
}
#footer {
    height: 100px;
    width: 100%;
    border-top: solid 2px black;
    background-color: white;
    position: fixed;
    bottom: 0
}
#author {
    margin: 25px auto;
}
#grace-logo{
    margin: 10px auto;
}